body{
    font-family: 'Poppins', sans-serif;}
    .top-one{
        color: #F59860;
    }
    .flex-banner{
        display: flex;
    }
    .half-width{
        width: 50%;
        padding-left: 10%;
    }
    .half-width img{
        width: 60%;
        padding-left: 15%;
    }
    .line{
        border-left: 3px solid;
        border-image: linear-gradient(180deg, skyblue, tomato);
        border-image-slice: 1;
    }
    h1{
        font-size: 35px;
        line-height: 15px;
        font-weight: 900;
    }
    .link-button{
        background-color: palegoldenrod;
        text-decoration: none;
        border-radius: 5px;
        padding: 10px 40px;
    }
    h2{
        text-align: center;
        font-size: 40px;
    }
    
    .ilusion{
        background-color: paleturquoise;
        padding: 5px 50px;
    }
    .ilusion img{
        height: 30%;
        width: 30%;
    }
    .ilusion-witdh{
        width: 33%;
    }