body{
    font-family: 'Poppins', sans-serif;}
    .top-one{
        color: #F59860;
    }
    .flex-banner{
        display: flex;
        height: 5%;
        margin-right: 5%;   
    }
    .half-width{
        width: 50%;
        padding-left: 10%;
    }
    .half-width img{
        width: 60%;
        padding-left: 15%;
    }
    .line{
        border-left: 3px solid;
        border-image: linear-gradient(180deg, skyblue, tomato);
        border-image-slice: 1;
    }
    h1{
        font-size: 35px;
        line-height: 15px;
        font-weight: 900;
    }
    .link-button{
        background-image: linear-gradient(180deg, lightsalmon, tomato);
        text-decoration: none;
        border-radius: 5px;
        padding: 10px 40px;
    }
    h2{
        text-align: center;
        font-size: 40px;
    }
    
    .ilusion{
        background-color: paleturquoise;
        padding: 2%;
        border-radius: 15px;
    }
    .ilusion-witdh{
        width: 33%;
        margin-left: 5%;
    }
    .ilusion img{
        height: 30%;
        width: 30%;
        padding-left: 30px;
    }
    .ilution-two{
        background-color: sandybrown;
        padding: 2%;
        border-radius: 15px;
        
    }
    .ilution-two img{
        height: 30%;
        width: 30%;
        padding-left: 30px;
    }
    .ilusion-three{
        background-color: skyblue;
        padding:2%;
        border-radius: 15px
    }
    .ilusion-three img{
        height: 30%;
        width: 30%;
        padding-left: 30px;
    }
    .third{
        display: flex;
    }
    .half-widt{
        padding-left: 10%;   
    }
    .half-widt img{
        width: 60%;
        padding-left: 10%; 
    }
   .exp-background{
       background-image: url(mission-2022-main/images/shapes/shape-1.png);
        background-repeat: no-repeat;
    background-size: 40%;
    background-position: 1%;
   }
 .mar{
    margin-top: 7%;
    margin-right: 5%;
    margin-bottom: 5%;
 }
 .two-back{
    background-image: url(mission-2022-main/images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position:right bottom;
 }
 .two-back img{
    width: 70%;
    padding-left: 15%;
    padding-bottom: 12%;
}
.five{  background-image: url(mission-2022-main/images/shapes/shape-6.png), url(mission-2022-main/images/shapes/shape-3.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: left bottom,right top;
padding-left: 2%;
padding-top: 1%;}
.five img{
    width: 70%;
    padding-left: 15%;
    padding-bottom: 12%;
    padding-top: 10%;
}

footer{
    text-align: center;
    background-color: #CA3E0B;
    height: 130px;
    padding-top: 40px;
    font-family: 'The Nautigal', cursive;
    color: white;
    
}

